@model FoodChartViewModel

<div class="theme-shadow bg-white col-lg-3 col-sm-4 g-4 m-2 p-2">

    <h6 class="p-2">@Model.Title</h6>
    <canvas id="@Model.Id"></canvas>
</div>
<script>
    new Chart(document.getElementById(@Model.Id), {
        type: 'doughnut',
        data: {
            labels: ["Ones", "Twos", "Threes", "Fours", "Fives"],
            datasets: [
                {
                    label: "# Ratings",
                    backgroundColor: [" #ff3232", "#ff9999", "#d3d3d3", "#6979dd", "#4357d4"],
                    data: [@Model.ones, @Model.twes, @Model.threes, @Model.fours, @Model.fives]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Stats from student reviews'
            }
        }
    });

</script>