@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}
@model IEnumerable<FoodChartViewModel>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
    <div class="row">
        <h4 class="py-4">Analytical Dashboard </h4>
        <h6>Users Analytics</h6>
        <div class="theme-shadow bg-white col-lg-4 col-sm-4 g-4 m-2 p-2">
           
            <h6 class="p-2">Total users for each role</h6>
            <canvas id="myChart" ></canvas>
        </div>
         <div class="theme-shadow bg-white col-lg-7 col-sm-10 g-4 m-2 p-2">
            <h6 class="p-2">Total users over time</h6>
            <canvas id="line-chart" ></canvas>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
         <h6 class="pt-4">Food Rating Analytics</h6>
        @foreach(var f in Model)
        {
             <partial name="~/Views/Admin/_PieChartPartial.cshtml" model="@f"></partial>
        }
           
    </div>
</div>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Admins', 'Cooks', 'Students'],
            datasets: [{
                label: '# of Users',
                backgroundColor: ["#6979dd"],
                data: [@ViewBag.AdminsCounteρ+1, @ViewBag.CooksCounter+2, @ViewBag.StudentsCounter+10],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


<script>
    new Chart(document.getElementById("doughnut-chart2"), {
        type: 'doughnut',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(ViewBag.dates)),
            datasets: [{
                data: @Html.Raw(Json.Serialize(ViewBag.headcounts)),
                label: "Total Users",
                borderColor: "#6979dd",
                fill: true
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Users Over Time'
            }
        }
    });

</script>


