@model ReviewQuestion

@{
    ViewData["Title"] = "FoodReview";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    List<Question> questions = ViewBag.Questions;
    Review review = ViewBag.Review;
}


<div class="container theme-shadow bg-white p-4">
    <form method="post" asp-action="SubmitReviewQuestions">
        <input type="hidden" asp-for="ReviewId" name="ReviewId" value="@review.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row py-4 m-4">
            @for (int i = 0; i < questions.Count(); i++)
            {
                <input type="hidden" asp-for="QuestionId" name="QuestionId" value="@questions[@i].Id" />
                <div class="col-lg-6 p-3">
                    <div class="text-uppercase small">@questions[@i].Title </div>
                    <h5> @questions[@i].Description</h5></div>
                <div class="col-lg-6 p-3">
                @for (int j = 1; j <= 5; j++)
                {
                    @if (j == 1)
                    {
                        <div class="form-check form-check-inline pt-4">
                            <input class="form-check-input" type="radio" asp-for="Answer" name="Answer_@i" value="@j" checked>
                            <label class="form-check-label" for="inlineRadio1">@j</label>
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-check-inline pt-4">
                            <input class="form-check-input" type="radio" asp-for="Answer" name="Answer_@i" value="@j">
                            <label class="form-check-label" for="inlineRadio1">@j</label>
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                    }
                    

                }
                    </div>
            }


        </div>
        <label asp-for="Comment">Comments</label><br />
        <textarea asp-for="Comment" name="Comment" id="Comment" rows="5" cols="50">Food was decent.</textarea><br />
        <button type="submit">Submit</button>
    </form>
</div>

