
@{
    ViewData["Title"] = "MenuHistory";
    Layout = "~/Views/Shared/_CookLayout.cshtml";
}
@model List<MenuViewModel> 
<h1>MenuHistory</h1>
 
@foreach(var m in Model)
{
    <div class="table-responsive p-3">
        <caption> Week #@m.weekId</caption>

        <table class="table table-striped p-2">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Moday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            <tr>
               <th scope="row">Breakfast</th>
               <td>@m.Monday[0].Title</td>
               <td>@m.Tuesday[0].Title</td>
               <td>@m.Wednesday[0].Title</td>
               <td>@m.Thursday[0].Title</td>
               <td>@m.Friday[0].Title</td>
               <td>@m.Saturady[0].Title</td>
               <td>@m.Sunday[0].Title</td>
            </tr>
            <tr>
                <th scope="row">Lunch</th>
               <td>@m.Monday[1].Title</td>
               <td>@m.Tuesday[1].Title</td>
               <td>@m.Wednesday[1].Title</td>
               <td>@m.Thursday[1].Title</td>
               <td>@m.Friday[1].Title</td>
               <td>@m.Saturady[1].Title</td>
               <td>@m.Sunday[1].Title</td>
            </tr>
            <tr>
                <th scope="row">Dinner</th>
                <td>@m.Monday[2].Title</td>
               <td>@m.Tuesday[2].Title</td>
               <td>@m.Wednesday[2].Title</td>
               <td>@m.Thursday[2].Title</td>
               <td>@m.Friday[2].Title</td>
               <td>@m.Saturady[2].Title</td>
               <td>@m.Sunday[2].Title</td>
            </tr>

        </table>
    </div>
    

}

<div page-model="@Model.First().PagingInfo" page-action="Food"
     page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     
     class="btn-group pull-right m-1">
</div>